<template name="leftTaskButton">
    <button class="done btn"><i class='icon-ok icon-small'/>
        {{#if viewingToday }}
            Done
        {{else}}
            Doing Now
        {{/if }}
    </button>
</template>