<template name="task">
    <li class="task row-fluid" data-task-id="{{ _id }}">
        <div class='content'>
            <div class="row-fluid">
                <div class="details">
                    {{ description }}
                </div>
            </div>
            <div class="actions row-fluid">
                {{> leftTaskButton }}

                <div class='pull-right'>
                    <button class="later btn"><i class='icon-chevron-down'/> Later</button>
                    <button class="maybe btn">Maybe <i class='icon-chevron-right'/></button>
                </div>
            </div>
        </div>
    </li>
</template>