<template name="viewToggle">
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="today-view btn btn-primary">Today</button>
        <button type="button" class="maybe-view btn btn-primary">Maybe</button>
    </div>
</template>